/* 單選 - Radio Group */

.radio-card {
    display: inline-block;
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

.radio-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
    margin: auto;
}

label.option {
    /* text always be label-md */
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;

    cursor: pointer;
}

label.option > input[type="radio"]:checked + .radio-card {
    color: var(--color-neutral-900);
}

label.option > input[type="radio"] + .radio-card > .img-wrap {
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
}

label.option > input[type="radio"]:checked + .radio-card > .img-wrap {
    border-color: var(--color-neutral-900);
}

label.option > input[type="radio"] {
    display: none;
}

label.option > input[type="radio"]:disabled + * {
    opacity: 0.4;
    cursor: not-allowed;
}

label.option > input[type="radio"] + .option-btn {
    padding: 12px 24px;
    border-radius: 16px;
    border: 1px solid var(--color-neutral-300);
}

label.option:hover > input[type="radio"] + .option-btn {
    border-color: var(--color-neutral-600);
}

label.option > input[type="radio"]:checked + .option-btn {
    border-color: var(--color-neutral-900);
}

label.option:hover > input[type="radio"]:checked + .option-btn {
    background-color: var(--color-neutral-200);
}
