
.display-1 {
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.display-2 {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-h1 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-h2 {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-h3 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-h4 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-h5 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-h6 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 700;
}

.label-lg {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 500;
}

.label-md {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 500;
}

.label-sm {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 500;
}

.label-xs {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 500;
}

.paragraph-lg {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 5px;
}

.paragraph-md {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
}

.paragraph-sm {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 5px;
}

.paragraph-xs {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 5px;
}
