<!DOCTYPE html>
<html lang="ZH-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            corePlugins: {
                container: false, // 停用 container plugin
            },
            theme: {
                extend: {
                    width: {
                        "5/12": "calc(100% * 5 / 12)",
                        "7/12": "calc(100% * 7 / 12)",
                    },
                    flexGrow: {
                        1: '1',
                        2: '2',
                        3: '3',
                        4: '4',
                        5: '5',
                        6: '6',
                        7: '7',
                        8: '8',
                        9: '9',
                        10: '10',
                        11: '11',
                    },
                    colors: {
                        white: "#FFFFFF",
                        primary: {
                            100: '#F5FEE7',
                            200: '#E8FEC5',
                            300: '#C0FA73',
                            400: '#57A203',
                        },
                        neutral: {
                            0: '#FFFFFF',
                            100: '#F8F9FA',
                            200: '#E9ECEF',
                            300: '#DEE2E6',
                            400: '#CED4DA',
                            500: '#ADB5BD',
                            600: '#6C757D',
                            700: '#495057',
                            800: '#343A40',
                            900: '#212529',
                        },
                        functional: {
                            success: {
                                100: '#EFF8F4',
                                200: '#9AD1BA',
                                300: '#36A375',
                            },
                            danger: {
                                100: '#FCF1F1',
                                200: '#EBA7A7',
                                300: '#D74F4F',
                            },
                            info: {
                                100: '#EEF5FC',
                                200: '#97C3ED',
                                300: '#3087DB',
                            },
                            warning: {
                                100: '#FEF6EC',
                                200: '#F9C588',
                                300: '#F38B12',
                            },
                        },
                    },
                }
            }
        }
    </script>

    <style>

        .container {
            width: 100%;
            max-width: 1296px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: 1296px) {
            .container {
                width: 1296px;
            }
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<nav>
    <div class="container flex items-center min-h-[80px]">
        <div class="logo-wrapper mr-12">
            <img src="./imgs/logo.png" alt="LOGO">
        </div>
        <ul class="mr-auto flex gap-10">
            <li>
                商品列表
            </li>

            <li>
                品牌故事
            </li>
        </ul>
        <div class="login">
            <i class="bi bi-person"></i>
        </div>
    </div>
</nav>
<main class="flex-1">
    <div class="flex container gap-6 pb-16">
        <div class="imgs w-7/12 grid grid-cols-2 gap-2">
            <div class="img-wrap" v-for="img in currentProd.imgs" :key="img">
                <img class="object-cover w-full" :src="img" alt="prod-img">
            </div>
        </div>

        <div class="flex flex-col w-5/12">

            <div class="breadcrumb label-md flex gap-3">
                <p class="item text-neutral-600">首頁</p>
                <p class="divider text-neutral-300">/</p>
                <p class="item text-neutral-600">女鞋</p>
                <p class="divider text-neutral-300">/</p>
                <p class="item text-neutral-600">滑板鞋</p>
                <p class="divider text-neutral-300">/</p>
                <p class="item text-neutral-900">Platform 404</p>
            </div>

            <div class="flex flex-col">
                <p class="heading-h2 mb-4">Platform 404</p>
                <div class="flex mb-4">
                    <div class="heading-h5 text-primary-400 mr-2">NT$2,600</div>
                    <span class="paragraph-sm text-neutral-500 line-through">
                        NT$3,200
                    </span>
                </div>
                <div class="desc paragraph-md text-neutral-900 mb-8">
                    <p class="mb-3">Platform 404
                        以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。</p>
                    <p>
                        鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。</p>
                </div>

                <!-- 顏色區塊 -->
                <section class="color-section mb-8">
                    <p class="paragraph-md text-neutral-900 mb-2">顏色</p>

                    <label class="option">
                        <input type="radio" name="color"
                               :checked="selectedInfo.color === '藍色'"
                               @change="selectedInfo.color = '藍色'"
                               value="藍色" />
                        <div class="radio-card">
                            <div class="img-wrap">
                                <img src="./imgs/card-img-1.png" alt="藍色" />
                            </div>
                            <span>藍色</span>
                        </div>
                    </label>

                    <label class="option">
                        <input type="radio"
                               name="color"
                               :checked="selectedInfo.color === '卡其色'"
                               @change="selectedInfo.color = '卡其色'"
                               value="卡其色" />
                        <div class="radio-card">
                            <div class="img-wrap">
                                <img src="./imgs/card-img-2.png" alt="卡其色" />
                            </div>
                            <span>卡其色</span>
                        </div>
                    </label>

                </section>

                <!-- 尺寸區塊 -->
                <section>
                    <p class="paragraph-md text-neutral-900 mb-2">尺寸</p>
                    <div class="btn-wrap flex flex-wrap gap-2">
                        <label class="option" v-for="storage in currentProd.storage">
                            <input type="radio" name="size" :value="storage.size"
                                   :disabled="storage.amount === 0" />
                            <div class="option-btn">
                                {{storage.size}}
                            </div>
                        </label>
                    </div>
                </section>

                <!-- 按鈕 -->
                <section class="flex">
                    <button class="btn btn-primary"></button>
                </section>

                <!-- 描述 -->
                <section class="flex description">
                    <p class="label-md mb-1">商品材質</p>
                    <p class="content">

                    </p>
                </section>

            </div>
        </div>
    </div>

    <div class="flex flex-col container pb-10 my-12">
        <h4 class="heading-h4 mb-4">你可能也喜歡...</h4>
        <div class="flex gap-6">
            <div class="card grow-1" v-for="card in relatedProd" :key="card.id">
                <img class="mb-3" :src="card.img" alt="card-img">
                <p class="title heading-h6 mb-1">{{card.title}}</p>
                <span class="content label-md">{{card.content}}</span>
            </div>
        </div>
    </div>
</main>
<div class="cta flex gap-6 items-center justify-center bg-primary-200 min-h-[96px]">
    <p class="heading-h4">加入會員取得 9 折優惠</p>
    <button class="btn btn-neutral filled large">馬上註冊</button>
</div>
<footer class="flex flex-col p-16 bg-neutral-100">
    <div class="container">
        <div class="flex justify-between items-center border-b border-neutral-300">
            <div class="logo-wrapper mr-12">
                <img src="./imgs/logo.png" alt="LOGO">
            </div>
            <ul class="flex gap-10 label-md my-3">
                <li>
                    商品列表
                </li>

                <li>
                    品牌故事
                </li>
            </ul>
        </div>
        <div class="pt-8 flex flex-col gap-1 justify-center items-center paragraph-sm text-neutral-600">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                selectedInfo: {
                    color: '藍色',
                    size: '35(22.5cm)',
                },
                currentProd: {
                    imgs: [
                        './imgs/prod-img-1.png',
                        './imgs/prod-img-2.png',
                        './imgs/prod-img-3.png',
                        './imgs/prod-img-4.png',
                        './imgs/prod-img-5.png',
                        './imgs/prod-img-6.png',
                        './imgs/prod-img-7.png',
                        './imgs/prod-img-8.png',
                    ],
                    storage: [
                        {size: '35(22.5cm)', amount: 3},
                        {size: '36(23.0cm)', amount: 2},
                        {size: '37(23.5cm)', amount: 5},
                        {size: '38(24.0cm)', amount: 4},
                        {size: '39(24.5cm)', amount: 8},
                        {size: '40(25.0cm)', amount: 6},
                        {size: '41(26.0cm)', amount: 12},
                        {size: '42(26.5cm)', amount: 0},
                        {size: '43(27.0cm)', amount: 0},
                    ],
                },

                // 相似商品
                relatedProd: [
                    {
                        id: 1,
                        img: './imgs/relate-prod-img-1.png',
                        title: 'VM001',
                        content: 'NT$2,600',
                    },
                    {
                        id: 2,
                        img: './imgs/relate-prod-img-2.png',
                        title: 'Melty Kiss',
                        content: 'NT$4,000',
                    },
                    {
                        id: 3,
                        img: './imgs/relate-prod-img-3.png',
                        title: 'BOOMBLOK',
                        content: 'NT3,200',
                    },
                    {
                        id: 4,
                        img: './imgs/relate-prod-img-4.png',
                        title: 'Sugar Snap',
                        content: 'NT$3,200',
                    },
                ],


            }
        }
    }).mount('body')
</script>
</body>
</html>